*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    list-style: none;
    text-decoration: none;
}


html, body{
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x:hidden ;
    font-family: "Figtree", sans-serif;

    a{
        color: $text-link;
    }
}