.last-post {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;

    & > h2 {
      margin: 1rem 0;
      color: $bg-primary;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
    }
  
    .card {
      background-color: $gray-100;
      border: 1px solid $gray-200;
      border-radius: $border-radius-md;
      overflow: hidden;
      display: flex;
      flex-direction: column;
  
      .image-wrapper {
        width: 100%;
        aspect-ratio: 16 / 9; // proporción estándar
        background: $gray-100;
  
        .image {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
  
        .placeholder {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $gray-500;
          height: 100%;
        }
      }
  
      .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
  
        & > header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;
  
          .category {
            font-size: $font-size-sm;
            font-weight: $font-weight-medium;
            color: $primary-blue;
          }
  
          .time {
            font-size: $font-size-xs;
            color: $gray-500;


            display: flex;
            gap: 5px;
            align-items: center;

            svg{
                font-size: 1rem;
            }
          }
        }
  
        .title {
          font-size: $font-size-lg;
          font-weight: $font-weight-semibold;
          margin-bottom: 0.5rem;
        }
  
        .description {
          font-size: $font-size-sm;
          color: $gray-700;
  
          /* Cortar a 3 líneas con "..." */
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    .card--main {
      grid-row: span 2; // ocupa dos filas
    }
  
    @media screen and (max-width: 768px) {
      .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
  
      .card--main {
        grid-row: auto;
      }
    }
  }
  