$min-height-main: 100vh;
$height-header: 70px;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header.navbar {
    position: sticky;
    top: -2px; // 👈 se pega arriba
    z-index: 9000; // 👈 asegura que quede por encima del body
    height: $height-header;
    background-color: #1e1336;
    overflow: hidden;


    .content-header {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      padding: .2rem 1rem;
      margin: auto;
      display: grid;
      grid-template-columns: 60px 1fr; // logo fijo + nav centrado
      align-items: center;
      background-color: #1e1336;

      .logo {
        max-width: 60px;
        height: calc($height-header - 1rem);
        margin: auto 0;
        text-align: center;

        img {
          height: 100%;
          display: block;
          margin: auto;
        }
      }

      nav.nav-header {
        display: flex;
        justify-content: flex-end; // centrado horizontal
        align-items: center;

        ul {
          display: flex;
          gap: 1rem;

          li a {
            font-weight: 300;
          }
        }
      }
    }
  }

  &>footer {
    background-color: $bg-primary;
    // border-top: 1px solid $gray-300;
    color: $gray-50;

    .container-footer {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 1.5rem;

      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      gap: 1rem;

      .col {
        padding: 1rem;
        p, li{
          font-size: .9rem;
        }

        h3{
          padding: 1rem 0;
        }
      }

      .bottom {
        grid-column: 1 / -1; // ocupa 100% (todas las columnas)
        // border-top: 1px solid $gray-600;
        padding: 1rem 1rem 0 1rem;
        text-align: center;

        p{
          font-size: .7rem;
        }
      }

      // 📱 Responsivo para móvil
      @media (max-width: 768px) {
        grid-template-columns: 1fr; // una sola columna
        grid-template-rows: auto auto auto auto; // cada item en fila
      }

    }
  }

  .body {
    flex: 1;
    padding-bottom: 3rem;
  }
}